/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Modified : Akmal
 * Github : @pandas-id
 * 
 **/

* {
  background:     #282c34;
  background-alt: #21252b;
  foreground:     #abb2bf;
  selected:       #61afef;
  active:         #98c379;
  urgent:         #e06c75;
}
