@import "color.css";

* {
    font-family: Iosevka Mayukai Firastorm, Material Design Icons, IosevkaTerm Nerd Font Propo;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent; /* main window transparent background */
}

tooltip {
    font-family: inherit;
    background: @black;
    border: 2px solid @blue;
    border-radius: 5px;
}

#workspaces button,
#mpris,
#privacy-item,
#bluetooth,
#clock,
#tray,
#cpu,
#power-profiles-daemon,
#memory,
#pulseaudio,
#gamemode,
#custom-updates,
#battery {
    background: @background;
    margin: 10px 4px 4px 4px;
    padding: 4px 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.185);
    border-radius: 8px;
    color: @foreground;
}

#clock {
    padding-right: 5px;
}

#privacy-item {
    background: @red;
    color: @black;
}

#workspaces {
    padding: 0 3px;
}

#workspaces button {
    padding: 0px 12px 0px 8px;
    margin-left: 3px;
    border: 1px solid transparent;
    transition-property: background-color, border-left-color, border-right-color;
    transition-duration: 0.1s;
    font-size: 10px;
    color: @white;
}

#workspaces button.empty {
    padding: 0px 10px;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button.active {
    background: @blue;
    color: @black;
}

#workspaces button:hover {
    background: @green;
    color: @black;
}

#power-profiles-daemon {
    color: @green;
}

@keyframes blink {
    to {
        background-color: @red;
    }
}

/* status battery */
#battery.good {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}
