* {
  background : #1f1f28;
  foreground : #c4b28a;
  black      : #0d0c0c;
  white      : #c5c9c5;
  blue       : #658594;
  cyan       : #8992a7;
  green      : #699469;
  purple     : #a292a3;
  red        : #c4746e;
  yellow     : #c4b28a;
}
