* {
  background : #232326;
  foreground : #a7aab0;
  black      : #1b1c1e;
  white      : #d6d7d9;
  blue       : #57a5e5;
  cyan       : #51a8b3;
  green      : #8fb573;
  purple     : #bb70d2;
  red        : #de5d68;
  yellow     : #dbb671;
}
