@import "~/.config/rofi/themes/main.rasi"

window {
  // location: northeast;
  anchor:                      northeast;
  x-offset:                    -10px;
  y-offset:                    10px;
}

element-icon {
  enabled: false;
}
