@import "~/.config/rofi/main.rasi"

/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
  show-icons:                 false;
  // display-drun:               "";
	drun-display-format:        "{name}";
}

listview {
  columns: 1;
  lines: 5;
}
