@import                          "colors.rasi"
@import "~/.config/rofi/themes/main.rasi"

/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
  show-icons:                 true;
  display-drun:               "";
	drun-display-format:        "{name}";
}
