* {
    font-family: Iosevka NF, Material Design Icons, IosevkaTerm Nerd Font Propo;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    /* main window transparent background */
}

tooltip {
    font-family: inherit;
    background: #1b1c1e; /* black */
    border: 2px solid #57a5e5; /* blue */
    border-radius: 5px;
}

#workspaces button,
#mpris,
#privacy-item,
#bluetooth,
#clock,
#tray,
#cpu,
#power-profiles-daemon,
#memory,
#pulseaudio,
#gamemode,
#custom-updates {
    background: #232326;
    margin: 10px 4px 4px 4px;
    padding: 4px 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.185);
    border-radius: 8px;
    color: #a7aab0; /* foreground */
}

#clock {
    padding-right: 5px;
}

#privacy-item {
    background: #de5d68; /* red */
    color: #1b1c1e; /* black */
}

/**#tray menu {
    font-weight: bold;
}**/

#workspaces {
    padding: 0 3px;
}

#workspaces button {
    padding: 0px 12px 0px 8px;
    margin-left: 3px;
    border: 1px solid transparent;
    transition-property:
        background-color, border-left-color, border-right-color;
    transition-duration: 0.1s;
    font-size: 10px;
    color: #d6d7d9; /* white */
}

#workspaces button.empty {
    padding: 0px 10px;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button.active {
    background: #57a5e5; /* blue */
    color: #1b1c1e; /* black for better contrast */
}

#workspaces button:hover {
    background: #8fb573; /* green */
    color: #1b1c1e;
}

#power-profiles-daemon {
    color: #8fb573; /* purple */
}

@keyframes blink {
    to {
        background-color: #de5d68; /* red */
    }
}

#battery {
    background: #232326;
    margin: 10px 4px 4px 4px;
    padding: 4px 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.185);
    border-radius: 8px;
    color: #a7aab0; /* default foreground */
}

/* status penuh / bagus */
#battery.good {
    color: #8fb573; /* green */
}

/* status warning */
#battery.warning {
    color: #dbb671; /* yellow */
}

/* status kritis */
#battery.critical {
    color: #de5d68; /* red */
}
